.bgLogin {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: url("https://wallpapercave.com/wp/wp2665223.jpg") center center;
  filter: blur(3px);
}

.form-login{
  background: #00000000;
}