
.title-wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
    color: '#000';
}

.product-detail-text{
    font-family: 'Roboto Condensed';
    color:'#000';
    text-transform: capitalize;
    font-size: small;
}
.text-modal{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}