.btn-filter-option{
  width:30%;
  display: flex;
  justify-content: center;
  padding:5px 0 5px 0;
  border: 1px #cccccc solid ;
  margin: 3px;
}

.btn-filter-option:hover{
  border: 1px #000000 solid ;
  cursor: pointer;
}