.sidebar {
  width: 500px;
  background: #eee;
  display: flex;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  flex-direction: column;
}

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #363636;
  z-index: 10;
  visibility: hidden
}

.is-visible {
  opacity: 0.5;
  visibility: visible;
}

.btn-pay {
  width: 100%;
  margin: 10px 16px 10px 16px;
  padding: 10px;
}

.product-price {
  color: #979797;
  font-size: 13px;
}
.txt-product-detail{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}