
.title-wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
    color: '#000';
}

.product-detail-text{
    font-family: 'Roboto Condensed';
    color:#333;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
}

.product-detail-text:hover{
    color: red;
}

.Category-wrapper{
    background-color: rgba(220,220,220,0.1);
    padding:0;
    padding-left: 10%;
    padding-right: 10%;

}

