body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif ;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.switch-wrapper{
  background-color: #f7f7f7;
  height: 100%;
}

.font-code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px !important;
}

.dash-vertical {
  border-left: 1px solid rgba(204, 204, 204, 0.2);
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background: rgba(243, 239, 239, 1);
  border: 0 none;
  width:2px;
}

.dash {
  border: 0 none;
  border-top: 1px solid rgba(204, 204, 204, 0.2);
  background: none;
  height: 0;
  margin-right: 10px;
  margin-left: 10px;
}
